

Screen {
    layout: horizontal;
    
}

Widget {
    margin:1;
}

#thing {
    width: 20;
    height: 10;
    
    background:magenta;
    margin: 1;
    padding: 1;
    /* border: solid white; */
    align-vertical: middle;    
}


#thing2 {
    width: 20;
    height: 10;
    
    background:green;
    align-vertical: middle;
}


#thing3 {
    width: 20;
    height: 10;
    
    background:blue;
    align-vertical: bottom;
}
