/* CSS file for dev_sandbox.py */

$text: #f0f0f0;
$primary: #021720;
$secondary: #95d52a;
$background: #262626;

$animatitext-speed: 500ms;
$animation: offset $animatitext-speed in_out_cubic;

App > View {
  docks: side=left/1;
  background: $background;
}

Widget:hover {
  outline: heavy;
  text-style: bold !important;
}

#sidebar {
  color: $text;
  background: $background;
  dock: side;
  width: 30;
  offset-x: -100%;
  transition: $animation;
  border-right: outer $secondary;
}

#sidebar.-active {
  offset-x: 0;
}

#header {
  color: $text;
  background: $primary;
  height: 3;
  border-bottom: hkey $secondary;
}

#header.-visible {
  visibility: hidden;
}

#content {
  color: $text;
  background: $background;
  offset-y: -3;
}

#content.-content-visible {
  visibility: hidden;
}

#footer {
  text-opacity: 1;
  color: $text;
  background: $background;
  height: 3;
  border-top: hkey $secondary;
}

#footer.dim {
  text-opacity: 0.5;
}
