App > Screen {
  layout: dock;
  docks: left=left top=top;
}

#info {
  background: $primary;
  dock: top;
  height: 3;
  padding: 1;
}

#body {
  dock: top;
  layout: dock;
  docks: bodylhs=left;
}

#left_list {
  dock: bodylhs;
  padding: 2;
}

#right_list {
  dock: bodylhs;
  padding: 2;
}

#footer {
  height: 1;
  background: $secondary;
  padding: 0 1;
  dock: top;
}

.list {
  background: $surface;
  border-top: hkey $surface-darken-1;
}

.list:focus-within {
  background: $primary-darken-1;
  outline-top:  $accent-lighten-1;
  outline-bottom:  $accent-lighten-1;
}

.list-item {
  background: $surface;
  height: auto;
  border: $surface-darken-1 tall;
  padding: 0 1;
}

.list-item:focus {
  background: $surface-darken-1;
  outline: $accent tall;
}
