App {
  background: $secondary;
}

#spacer {
  height: 1;
  background: $primary-darken-2;
  dock: top;
}

Screen {
  layout: dock;
  docks: top=top bottom=bottom;
  background: $background;
}

#fahrenheit {
  width: 50%;
}

#celsius {
  width: 50%;
}

#celsius :focus {
  border: heavy darkgoldenrod;
}

#inputs {
  dock: top;
  background: $primary;
  height: 3;
  layout: horizontal;
}

#text_area {
  dock: bottom;
}

#top_search {
  dock: top;
}

#topsearchbox {
  width: 10%;
}

#footer {
  background: $primary-darken-2;
  dock: bottom;
  height: 1;
  border: ;
}
