#uber1 {
  layout: dock;
  docks: x=left/2 y=right/3;
  background: dark_green;
  overflow: auto auto;
  border: heavy white;
}

.list-item {
  height: 8;
  min-width: 80;
  background: dark_blue;
  padding: 2;
  border: solid red;
}
