App.-show-focus *:focus {
  tint: #8bc34a 20%;
}

#uber1 {
  layout: vertical;
  background: green;
  overflow: hidden auto;
  border: heavy white; 
  text-style: underline;
  /* box-sizing: content-box;  */
}

#uber1:focus-within {
  background: darkslateblue;
}

#child2 {
  text-style: underline;
  background: red 10%;
}

.list-item {
  height: 10;
  /* display: none; */
  color: #12a0;
  background: #ffffff00;
}
