Screen {
    background:blue;
}

Vertical {
    background: red 50%;
    overflow: auto;
    /* width: auto */
}

.test {
    /* width: auto; */
    /* height: 50vh; */

    background: white 50%;
    border:solid green;   
    padding: 0;
    margin:3;

    align: center middle;
    box-sizing: border-box;
} 