[project]
name = "textual"
dynamic = ["readme"]
version = "0.3.0"
description = "Modern Text User Interface framework"
authors = [
    { name = "Will McGugan", email = "will@textualize.io" },
]
license = "MIT"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Typing :: Typed",
]
requires-python = ">=3.7"
dependencies = [
    "importlib-metadata >= 4.11.3, <5",
    "nanoid >= 2.0.0",
    "rich >= 12.6.0, <13",
    "typing-extensions >= 4.0.0, <5; python_version < '3.10'",
]

[project.optional-dependencies]
dev = [
    "aiohttp >= 3.8.1",
    "click >= 8.1.2",
    "msgpack >= 1.0.3",
]

[project.scripts]
textual = "textual.cli.cli:run"

[project.urls]
Homepage = "https://github.com/Textualize/textual"

[tool.hatch.metadata.hooks.fancy-pypi-readme]
content-type = "text/markdown"
fragments = [
    { path = "README.md" },
]

[[tool.hatch.metadata.hooks.fancy-pypi-readme.substitutions]]
pattern = '(?<=\]\()\./(.+?\.py)(?=\))'
replacement = 'https://github.com/Textualize/textual/blob/main/\1'

[[tool.hatch.metadata.hooks.fancy-pypi-readme.substitutions]]
pattern = '(?<=\]\()\./(.+?\.(png|svg))(?=\))'
replacement = 'https://raw.githubusercontent.com/Textualize/textual/main/\1'

[tool.poetry.group.dev.dependencies]
mkdocs-rss-plugin = "^1.5.0"


[tool.black]
includes = "src"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["tests"]
addopts = "--strict-markers"
markers = [
    "integration_test: marks tests as slow integration tests (deselect with '-m \"not integration_test\"')",
]

[build-system]
requires = ['hatchling>=1.11.1', 'hatch-fancy-pypi-readme>=22.5.0']
build-backend = 'hatchling.build'
