.todoitem--top-row {
    height: auto;
}

TodoItem.todoitem--collapsed .todoitem--top-row {
    height: 3;
}

TodoItem .editabletext--label {
    height: auto;
}

TodoItem.todoitem--collapsed .editabletext--label {
    height: 3;
}

TodoItem EditableText {
    height: auto;
}

TodoItem.todoitem--collapsed EditableText {
    height: 3;
}

TodoItem.todoitem--collapsed .todoitem--bot-row {
    display: none;
}

.todoitem--bot-row {
    height: 3;
    align-horizontal: right;
}

.todoitem--show-more {
    min-width: 0;
    width: auto;
}

.todoitem--status {
    height: 100%;
    width: 1fr;
    content-align-vertical: middle;
    text-opacity: 70%;
    padding-left: 3;
}

.todoitem--duedate {
    height: 100%;
    content-align-vertical: middle;
    padding-right: 1;
}

.todoitem--datepicker {
    width: 21;
    box-sizing: content-box;
}

.todoitem--datepicker .editabletext--label {
    border: tall $primary;
    padding: 0 2;
    height: 100%;
}

TodoItem {
    background: $boost;
    border: hkey $primary;
    padding: 0 1;
}

TodoItem.todoitem--due-late {
    tint: #ff5555 20%;
}

TodoItem.todoitem--due-today {
    tint: #f1fa8c 20%;
}

TodoItem.todoitem--due-in-time {
    tint: #8be9fd 20%;
}
