Screen {
    background: darkblue;
    color: white;
    layout: vertical;
    align: center middle;
}
Static {
    height: auto;
    padding: 2;
    margin: 2;
    border:  white;
    background: #ffffff 30%;
    content-align: center middle;    
}
