Screen {
  /* text-background: #212121; */
}

#borders {
  layout: vertical;
  background: #212121;
  overflow-y: scroll;
}

Lorem.border {
  height: 12;
  margin: 2 4;
  background: #303f9f;
}

Lorem.round {
  border: round #8bc34a;
}

Lorem.solid {
  border: solid #8bc34a;
}

Lorem.double {
  border: double #8bc34a;
}

Lorem.dashed {
  border: dashed #8bc34a;
}

Lorem.heavy {
  border: heavy #8bc34a;
}

Lorem.inner {
  border: inner #8bc34a;
}

Lorem.outer {
  border: outer #8bc34a;
}

Lorem.hkey {
  border: hkey #8bc34a;
}

Lorem.vkey {
  border: vkey #8bc34a;
}

Lorem.tall {
  border: tall #8bc34a;
}

Lorem.wide {
  border: wide #8bc34a;
}
