Screen {
    align: center middle;
}

#buttons {
    height: 3;
    width: auto;
}

ContentSwitcher {
    background: $panel;
    border: round $primary;
    width: 70%;
    height: 70%;
}

DataTable {
    background: $panel;
}

MarkdownH2 {
    background: $primary;
    border: none;
    padding: 0;
}

MarkdownTable {
    margin-top: 0;
    margin-bottom: 1;
}
