Screen {
    align: center middle;
}

.container {
    height: auto;
    width: auto;
}

Checkbox {
    height: auto;
    width: auto;
}

.label {
    height: 3;
    content-align: center middle;
    width: auto;
}

#custom-design {
    background: darkslategrey;
}

#custom-design > .checkbox--switch {
    color: dodgerblue;
    background: darkslateblue;
}
