Screen {
    background: $background;
    color: black;
}

Vertical {
    width: 1fr;
}

Static {
    margin: 1 2;  
    background: blue 20%;  
    border: blue wide;
    height: auto;
}    

#right {
    overflow-y: hidden;
}
