Screen {
    layout: horizontal;    
}
Static {
    width:1fr;        
}    
#static1 {
    background: red 30%;
    text-style: bold;
}
#static2 {
    background: green 30%;
    text-style: italic;
}
#static3 {
    background: blue 30%;
    text-style: reverse;
}
