/* CSS file for basic.py */

$primary: #20639b;

App > Screen {
  layout: dock;
  docks: side=left/1;
  text: on $primary;
}

#sidebar {
  text: #09312e on #3caea3;
  dock: side;
  width: 30;
  offset-x: -100%;

  transition: offset 500ms in_out_cubic;
  border-right: outer #09312e;
}

#sidebar.-active {
  offset-x: 0;
}

#header {
  text: white on #173f5f;
  height: 3;
  border: hkey;
}

#content {
  text: white on $primary;
  border-bottom: hkey #0f2b41;
}

#footer {
  text: #3a3009 on #f6d55c;
  height: 3;
}
