/* CSS file for dev_sandbox.py */

$text: #f0f0f0;
$primary: #262626;
$secondary:#95d52a;
$background: #262626;

$primary-style: $text on $background;
$animation-speed: 500ms;
$animation: offset $animation-speed in_out_cubic;

App > View {
  docks: side=left/1;
  text: on $background;
}

Widget:hover {
  outline: heavy;
  text: bold !important;
}

#sidebar {
  text: $primary-style;
  dock: side;
  width: 24;
  offset-x: -100%;
  transition: $animation;
  border-right: outer $secondary;
}

#sidebar.-active {
  offset-x: 0;
}

#header {
  text: $text on $primary;
  height: 2;
}

#header.-visible {
  visibility: hidden;
}

#content {
  text: $text on $background;
}

#content.-content-visible {
  visibility: hidden;
}

#footer {
  opacity: 1;
  text: $text on $primary;
  border-top: hkey $secondary;
}

#footer.dim {
  opacity: 0.5;
}
