/* CSS file for dev_sandbox.py */

App > View {
  layout: vertical;
  text: on #6e06c2;
}

Widget:hover {
  outline: heavy;
  text: bold !important;
}

#sidebar {
  text: #09312e on #3caea3;
  dock: side;
  width: 30;
  offset-x: -100%;
  transition: offset 500ms in_out_cubic;
  border-right: outer #09312e;
}

#sidebar.-active {
  offset-x: 0;
}

#header {
  text: white on #173f5f;
  height: 3;
  border: hkey;
}

#header.-visible {
  visibility: hidden;
}

#content {
  text: white on #20639b;
  border-bottom: hkey #0f2b41;
  offset-y: -3;
}

#content.-content-visible {
  visibility: hidden;
}

#footer {
  text: #3a3009 on #f6d55c;
  height: 3;
}
