Screen {
    background: $panel;
}

TextInput {
    dock: top;
    border: tall $background;
    width: 100%;
    height: 1;
    padding: 0 1;
    margin: 1 1 0 1;
    background: $boost;
}

TextInput:focus {
    border: tall $accent;
}

#results {
    width: auto;   
    min-height: 100%;
    padding: 0 1;
    
}

#results-container {
    background: $background 50%;
    margin: 1 2;    
    height: 100%;
    overflow: hidden auto;
}
