Screen {
    background: $panel;
}

Input#dictionary-search {
    dock: top;
    margin: 1 0;
}

#results {
    width: 100%;
    height: auto;
}

#results-container {
    background: $surface;
    margin: 0 0 1 0;
    height: 100%;
    overflow: hidden auto;
    border: tall transparent;
}

#results-container:focus {
    border: tall $border;
}
