App > View {
  layout: dock;
  docks: side=left/1;
}

#header {
  text: on #173f5f;
  height: 3;
  border: hkey white;
}

#content {
  text: on #20639b;
}

#footer {
  height: 3;
  border-top: hkey #0f2b41;
  text: #3a3009 on #f6d55c;
}

#sidebar {
  text: #09312e on #3caea3;
  dock: side;
  width: 30;
  border-right: outer #09312e;
  offset-x: -100%;
  transition: offset 400ms in_out_cubic;
}

#sidebar.-active {
  offset-x: 0;
  transition: offset 400ms in_out_cubic;
}
