BSOD {
    align: center middle;
    background: blue;
    color: white;
}

BSOD>Static {
    width: 70;    
}

#title {
    content-align-horizontal: center;
    text-style: reverse;
}

#any-key {
    content-align-horizontal: center;
}
