h2.doc.doc-heading {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 48px;
}

h3 .doc-heading code {
  font-size: 16px;
}

.doc-heading code {
  font-weight: normal;
  font-family: "Roboto Mono", "SFMono-Regular", Consolas, "Courier New", Courier,
    monospace;
}

body[data-md-color-primary="black"] .excalidraw  svg  {  
  filter: invert(100%) hue-rotate(180deg);
}

body[data-md-color-primary="black"] .excalidraw svg rect {
  fill: transparent;
}

.excalidraw {
  text-align: center;
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
