Screen {
    overflow: auto;
}

#calculator {
    layout: table;
    table-size: 4;
    table-gutter: 1 2;
    table-columns: 1fr;
    table-rows: 1fr;
    margin: 1 2;
    min-height:23;  
    min-width: 40; 
}

Button {
    width: 100%;
    height: 100%;    
}

.display {
    column-span: 4;
    content-align: right middle;
    padding: 0 1;
    height: 100%;
    background: $panel-darken-2;
}

.special {
    tint: $text-panel 20%;
}

.zero {
    column-span: 2;
}
