Screen {
    layout: grid;
    grid-columns: 2fr 1fr 1fr;
    grid-rows: 1fr 1fr;
    grid-gutter: 1 2;
}

Static {
border: solid white;
background: blue 20%;
height: 100%;
width: 100%;
}

#foo {
    row-span: 2;    
}

#last {
    column-span: 3;
    margin: 1;
    
}
