Screen {
    align: center middle;
}

Container {
    width: 50;
    height: 15;
    background: $boost;
    align: center middle;
}

Checkbox {
}

#check {
    background: red;
    border: none;
    padding: 0;
}

#check > .checkbox--switch {
    color: red;
    background: blue;
}

#check:focus {
    tint: magenta 60%;
}
