Screen {
    background: lightcoral;
}

#left_pane {
    background: red;
    width: 10;
    height: auto;
}

#middle_pane {
    background: green;
    width: 140;
}

#right_pane {
    background: blue;
    width: 10;
}

.box {
    height: 5;
    width: 15;
}
