#one {
  text-justify: left;
  background: lightblue;

}

#two {
  text-justify: center;
  background: indianred;
}

#three {
  text-justify: right;
  background: palegreen;
}

#four {
  text-justify: full;
  background: palevioletred;
}

Static {
  padding: 1;
}
