/*
 * The idea with this stylesheet is that it should contain as many valid
 * ways of styling things as possible. So, as time goes on, feel free to add
 * something to here. Be creative. Do the wildest things you can think of.
 */

/*
Test encoding...

床前明月光，
疑是地上霜。
举头望明月，
低头思故乡。

古池や
蛙飛び込む
水の音
*/

* {}
* * {}
* * * {}
* > * {}
* > * > * {}

/**********************************************************************/

A {}
A A {}
A A A {}
A > A {}
A > A > A {}

A1 {}
A1 A1 {}
A1 A1 A1 {}
A1 > A1 {}
A1 > A1 > A1 {}

A {}
A A1 {}
A A1 A1 {}
A > A1 {}
A > A1 > A1 {}

A1 {}
A1 A {}
A1 A A {}
A1 > A {}
A1 > A > A {}

/**********************************************************************/

A {}
A, A {}
A,A {}
A, A, A {}
A,A,A {}
A , A , A {}
A
,
A
,
A
{

}

A1 {}
A1, A1 {}
A1,A1 {}
A1, A1, A1 {}
A1,A1,A1 {}
A1 , A1 , A1 {}
A1
,
A1
,
A1
{

}

/**********************************************************************/

.A {}
.A .A {}
.A .A .A {}
.A > .A {}
.A > .A > .A {}

.A1 {}
.A1 .A1 {}
.A1 .A1 .A1 {}
.A1 > .A1 {}
.A1 > .A1 > .A1 {}

.A1 {}
.A1 .A {}
.A1 .A .A {}
.A1 > .A {}
.A1 > .A > .A {}

.A {}
.A .A1 {}
.A .A1 .A1 {}
.A > .A1 {}
.A > .A1 > .A1 {}

/**********************************************************************/

.A {}
.A.A {}
.A.A.A {}

.A1 {}
.A1.A1 {}
.A1.A1.A1 {}

.A1 {}
.A1.A {}
.A1.A.A {}

.A {}
.A.A1 {}
.A.A1.A1 {}

/**********************************************************************/

#A {}
#A #A {}
#A #A #A {}
#A > #A {}
#A > #A > #A {}

#A1 {}
#A1 #A1 {}
#A1 #A1 #A1 {}
#A1 > #A1 {}
#A1 > #A1 > #A1 {}

#A1 {}
#A1 #A {}
#A1 #A #A {}
#A1 > #A {}
#A1 > #A > #A {}

#A {}
#A #A1 {}
#A #A1 #A1 {}
#A > #A1 {}
#A > #A1 > #A1 {}

/**********************************************************************/

A:focus {}
A:focus:hover {}
A
:focus {}
A
:focus:hover {}
A
:focus
:hover {}
A:enabled {}
A
:enabled {}

A :focus {}
A :focus :hover {}
A :enabled {}

.A:focus {}
.A:focus:hover {}
.A
:focus {}
.A
:focus:hover {}
.A
:focus
:hover {}
.A:enabled {}
.A
:enabled {}

#A:focus {}
#A:focus:hover {}
#A
:focus {}
#A
:focus:hover {}
#A
:focus
:hover {}
#A:enabled {}
#A
:enabled {}

A1.A1.A1:focus {}
A1.A1#A1:focus {}
A1:focus.A1:focus#A1:focus {}

/**********************************************************************/

$foo:;
$foo:1;
$fo1:1;
$1:1;
$-:1;
$--:1;
$--------------------------------------------------:1;
$-1:1;
$--1:1;
$--------------------------------------------------1:1;
$_1:1;
$__1:1;
$__________________________________________________1:1;

/**********************************************************************/
A{}
A {
}
A {} A {} A {}
A{}A{}A{}
A {
} A {} A {
}
A
{}
A
{

}

/**********************************************************************
 * Don't change or remove this. This class is looked for in the unit
 * test code to make sure that everything parsed.
 */
.---we-made-it-to-the-end--- {
}
