/* Style the container */
#status {
    border: heavy $primary;
    align: center middle;
}

/* Style all boxes */
#status .box {
    width: 1fr;
    padding: 1 2;
    margin: 1 2;
    text-align: center;
    border: heavy $panel;
}

/* Style the 'done' box */
#status .box.done {
    border: heavy $success;
}

/* Style the 'stopped' box */
#status .box.stopped {
    border: heavy $error;
}
