/* Style the container */
#status {
    border: heavy $primary;
    align: center middle;

    /* Style all boxes */
    .box {
        width: 1fr;
        padding: 1 2;
        margin: 1 2;
        text-align: center;
        border: heavy $panel;    

        /* Style the 'done' box */
        &.done {
            border: heavy $success;        
        }

        /* Style the 'stopped' box */
        &.stopped {
            border: heavy $error;
        }
    }
}
